.not-found {
    padding: 194.7px 0 127px;
    background: var(--dark-blue) url("../img/main-bg.png") center / cover no-repeat;
    background-blend-mode: lighten;

    @include tablet {
        padding: 129px 0 118px;
    }
}

.not-found__image {
    max-width: 330px;
    margin: 0 auto 30px;

    @include mobile {
        max-width: 300px;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
    }
}

.not-found__description {
    margin-bottom: 30px;
    text-align: center;

    @include mobile {
        margin-bottom: 20px;
    }
}

.not-found__btn {
    width: 260px;
    margin: 0 auto;

    @include mobile {
        width: 240px;
    }
}