.benefits {
    padding: 138px 0 113px;

    .container {

    }
}

.benefits__title {
    margin-bottom: 60px;
}

.benefits__list {
    display: flex;
    align-items: center;
    gap: 40px;

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(33.33% - 26.66px);
        min-height: 168px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        border-radius: var(--radius-1);
        overflow: hidden;

        &>* {
            flex-shrink: 0;
        }
    }

    .list-item__left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 58.06%;
        padding: 14px 0 34px 25px;
    }

    .list-item__heading {
        font-size: 48px;
        font-weight: 700;
        color: var(--color-2);
    }

    .list-item__description {
        font-size: 16px;
    }

    .list__item-right {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 209px;
        height: 209px;
        padding-left: 28px;
        border-radius: 100%;
        background-color: var(--color-4);
        transform: translate(31.58%, -6.22%);

        img {
            width: 97px;
            height: 97px;
        }
    }
}
