.equipment {
    padding: 85px 0 87px;

    .container {

    }
}

.equipment__title {
    margin-bottom: 86px;
    font-size: 36px;
    color: var(--color-2);
    font-weight: 600;
}

.equipment__list {
}
