.header__hamburger-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 38px;
    height: 38px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

    @include mobile {
        display: flex;
    }
}

.header__hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .hamburger-line {
        width: 25px;
        height: 3px;
        background-color: var(--green);
        border-radius: 50px;
    }
}


.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: var(--grey-gradient);
    transform: translate3d(-100%, 0, 0);
    animation-duration: .5s;
}

.hamburger__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.hamburger__content {
    max-height: 100%;
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;

    .content__header {
        position: relative;
        margin-bottom: 10px;
    }

    .content__logo {
        font-size: 26px;
        font-weight: 800;
        line-height: 25px;

        &, &:visited {
            color: #fff;
        }
    }

    .content__body {
        margin-bottom: 10px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            border-bottom: 1px dotted #fff;

            &::after {
                content: attr(data-count);
            }

            &.active {
                background-color: var(--green);
                border: 0;
                border-radius: 7px;
            }
        }
    }

    .content__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px 15px;
    }

    .content__cart {
        flex-shrink: 0;

        @include mobile {
            flex-direction: row;
            gap: 0;
            max-width: 149px;
            width: 100%;
            height: 52px;
        }

        &:after {
            @include mobile {
                top: 0;
                bottom: 0;
                left: 67.11%;
                right: auto;
                width: 1px;
                height: calc(100% - 14px);
            }
        }

        .cart-text {
            @include mobile {
                width: 67.11%;
                font-size: 16px;
                text-transform: capitalize;
            }
        }

        .cart-icon {
            @include mobile {
                display: none;
            }
        }

        .cart-count {
            @include mobile {
                position: static;
                width: calc(100% - 67.11%);
                transform: none;
            }
        }
    }

    .content__social {
        flex-shrink: 0;
    }

    .content__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > * {
            flex-shrink: 0;
        }

        .contacts-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background: var(--green-gradient);
            border-radius: 50%;
        }

        .contacts-info {
            display: flex;
            flex-direction: column;
        }

        .contacts-info__item {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            transition: color .3s ease-out;

            &:hover, &:focus-visible {
                color: var(--green);
            }
        }
    }
}

