.hero {
    max-width: 1920px;
    width: 100%;
    min-height: 755px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(87deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    }

    .container {
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
}

.main-hero {
    padding: 106px 0 164px;

    &::after {
        background: linear-gradient(87deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(8deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
}

.services-hero {
    padding: 209px 0 248px;
}

.equipment-hero {
    padding-top: 114px;

    .hero__title {
        max-width: 1124px;
    }
}

.hero__title {
    max-width: 1027px;
    margin-bottom: 57px;
    text-align: left;
}

.hero__description {
    max-width: 778px;
    margin-bottom: 71px;
    color: var(--white);
}

.hero__btn-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__btn {
    &.hero__btn_callback {
        width: 250px;
    }

    &.hero__btn_more {
        width: 208px;
    }
}
