.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background: linear-gradient(0deg, rgba(33, 31, 32, 0.5) 0%, rgba(68, 64, 63, 0.5) 100%);
    backdrop-filter: blur(2.5px);
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--yellow);
    cursor: pointer;

    @media screen and (max-width: 375.98px) {
        top: 15px;
        right: 15px;
    }

    &:hover {
        .svg-ico {
            color: var(--yellow-hover);
        }
    }

    .svg-ico {
        color: var(--yellow);
        transition: color .3s ease-in-out;
    }
}

.modal__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    max-width: 700px;
    width: 100%;
    max-height: 90vh;
    height: max-content;
    margin: auto;
    padding: 40px 55px;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    border-radius: 10px;
    cursor: default;

    @include fullMobile {
        width: calc(100vw - 40px);
        padding: 30px 20px;
    }
}

.modal__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 497px;
    margin: 0 auto 30px;

    @include mobile {
        margin-bottom: 20px;
    }
}

.modal__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

    @include mobile {
        font-size: 30px;
    }

    &.red {
        color: red;
        font-weight: 500;
    }
}

.modal__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;

    @include mobile {
        font-size: 15px;
    }

    a {
        text-decoration: underline;
    }

    .shower-desc {
        display: none;
    }
}

.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto 30px;

    @include mobile {
        margin-bottom: 20px;
    }
}

.modal__footer {

}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    @media screen and ( max-width: 375.98px ) {
        width: 100%;
    }
}

.modal__form-row {
    position: relative;
    width: 100%;

    .msg {
        position: absolute;
        bottom: 0;
        left: 20px;
        display: none;
        font-size: 10px;
        color: red;
        letter-spacing: .1em;
        transform: translateY(calc(100% + 2px));
    }
}

.modal-input, .modal-textarea {
    width: 100%;
    font-size: 17px;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    transition: border-color .3s ease-in-out;

    @include mobile {
        font-size: 15px;
    }

    &:hover {
        border-color: var(--yellow-hover)
    }

    &:focus-visible {
        outline: 0;
        border-color: var(--yellow);
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }
}

.modal-input {
    padding: 13px 20px;

    @include mobile {
        padding: 14.5px 20px;
    }
}

.modal-textarea {
    height: 100px;
    padding: 16px 20px;
    resize: none;

    @include mobile {
        padding: 15px 20px;
    }
}

.modal__price {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-transform: uppercase;
}

.modal__submit {
    width: 100%;
    height: 60px;
}

.modal-checkout-notice {
    display: block;
    transition: opacity .3s ease-in-out;

    .modal__content {
        animation-duration: .5s;

        @include fullMobile {
            padding: 30px 10px;
        }
    }

    .modal__title {
    }

    .modal__description {
        max-width: 400px;
        font-size: 15px;
    }

    .modal__body {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 64vh;
        margin-bottom: 0;
        scrollbar-width: thin;
        scrollbar-color: var(--yellow) var(--grey);
        &::-webkit-scrollbar-thumb { background: var(--yellow); }
        &::-webkit-scrollbar { width: 6px; }
        &::-webkit-scrollbar-track { background: var(--grey); }

        @include fullMobile {
            padding: 0 10px;
        }
    }

    .modal__body-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        &:last-child {
            margin-bottom: 4px;
        }
    }

    .modal__body-row__title {
        font-size: 18px;
        font-weight: 600;
        color: #fff;

        @include fullMobile {
            font-size: 16px;
        }
    }

    .modal__body-list {
        display: flex;
        flex-direction: column;

        .list-item {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 15px 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(43,40,40,.6);
            transition: box-shadow .3s ease-in-out;

            @include fullMobile {
                position: relative;
                display: grid;
                grid-template-columns: calc((100vw - 110px) * .375) calc((100vw - 110px) * (1 - .375) - 10px);
                gap: 0 10px;
                padding: 15px;
            }

            &:hover, &:focus-visible {
                box-shadow: 0 4px 20px 0 rgba(43,40,40,.6);
                .item__image {
                    img {
                        transform: scale(1.1);
                    }
                }

                .item__title {
                    a {
                        color: var(--green);
                    }
                }

                .item__total-price {
                    .price {
                        color: var(--green);
                    }
                }
            }
        }

        .item__image {
            flex-shrink: 0;
            width: 120px;
            height: 90px;
            background: var(--grey-gradient);
            border-radius: 10px;
            overflow: hidden;

            @include fullMobile {
                grid-row: 1 / span 2; /* Занимает первый столбец и две строки */
                width: calc((100vw - 110px) * .375);
                height: calc((100vw - 110px) * .375 / 1.35);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition: transform .3s ease-in-out;
            }
        }

        .item__content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-right: auto;

            @include fullMobile {
                width: calc((100vw - 110px) * (1 - .375) - 10px);
            }
        }

        .item__title {
            a {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                line-height: 1;
                transition: color .3s ease-in-out;

                @include fullMobile {
                    max-width: calc(100% - 30px);
                    font-size: 14px;
                }
            }
        }

        .item__variations {
            display: flex;
            flex-direction: column;
        }

        .variation-item {
            display: flex;
            align-items: center;
            gap: 5px;

            .item-name, .item-value {
                flex-shrink: 0;
            }

            .item-name {
                font-weight: 600;
                color: #fff;

                @include fullMobile {
                    font-size: 14px;
                }
            }

            .item-value {

                @include fullMobile {
                    font-size: 14px;
                }
            }
        }

        .item__total-price {
            @include fullMobile {
                grid-column: 2; /* Занимает второй столбец */
            }

            .price {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                line-height: 1;
                -webkit-transition: color .3s ease-in-out;
                transition: color .3s ease-in-out;

                @include fullMobile {
                    font-size: 18px;
                }
            }
        }

        .item__remove {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 27px;
            height: 27px;
            padding: 0;
            border: 1.5px solid var(--green);
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
            transition: box-shadow .3s ease-out;

            @include fullMobile {
                position: absolute;
                top: 0;
                right: 15px;
                bottom: 0;
                width: 24px;
                height: 24px;
                margin: auto;
            }

            &:hover, &:focus-visible {
                box-shadow: var(--green-shadow);
            }

            .svg-ico {
                color: #fff;

                @include fullMobile {
                    width: 16px;
                    height: 23px;
                }
            }
        }
    }
}

#notice_not_valid {
    .modal__description {
        font-size: 18px;
    }

    .modal__body {
        align-items: flex-start;
        gap: 5px;
        max-width: 100%;
        width: max-content;
        margin: 0 auto;
    }

    .modal__body-item {
        color: #fff;
        font-size: 16px;

        @include fullMobile {
            font-size: 14px;
        }
    }
}

#modal_empty_cart {

    .modal__content {
        max-width: 460px;
        height: max-content;
        padding: 50px 0 60px;
    }

    .modal__header {
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;
    }

    .header__icon {
        .svg-ico {
            color: var(--green);
        }
    }

    .modal__title {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;

        @include fullMobile {
            font-size: 25px;
        }
    }

    .modal__footer {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

#modal_booking {
    .modal__content {
    }
}

#modal_success {
    .modal__description {
        display: none;
    }
}

.modal__policy {
    max-width: 349px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,.7);

    a {
        text-decoration: underline;
    }
}

.modal-thx {
    .modal__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 80px 75.5px 90px;


        @include mobile {
            padding: 65px 40px 70px;
        }

        @media screen and (max-width: 375.98px) {
            width: 100%;
        }
    }

    .modal__header {
        margin-bottom: 0;
    }

    .modal__title {
        text-transform: none;
    }

    .modal__description {
        margin: 0 auto;
        text-align: center;
        font-size: 17px;

        @include mobile {
            font-size: 15px;
        }
    }
}
