.services {
    padding: 85px 0 176px;

    .container {

    }
}

.services__title {
    margin-bottom: 74px;
    font-size: 36px;
    color: var(--color-2);
    font-weight: 600;
}

.services__list {
}
