.we-are-help {
    padding-bottom: 105px;

    .container {
        display: flex;
        align-items: center;
        gap: 28px;

        &>* {
            flex-shrink: 0;
        }

    }
}

.we-are-help__left {
    max-width: 675px;
}

.we-are-help__title {
    margin-bottom: 58px;
    font-weight: 600;
    font-size: 36px;
}

.we-are-help__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.we-are-help__right {
    max-width: calc(100% - 675px - 28px);
    width: 100%;
}

.we-are-help__director {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    .director-photo {
        width: 410px;
        height: 410px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .director-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        width: 100%;
        padding: 14px 0 9px;
        border-radius: var(--radius-1);
        background-color: var(--color-4);
        transform: translateY(-76px);
    }

    .director-name {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: var(--white);
    }

    .director-post {
        font-size: 18px;
        text-align: center;
        color: var(--white);
    }
}
