.about {
    padding: 50.5px 0;

    .container {
        display: flex;
        gap: 138px;
        max-width: 100vw;
        padding-left: calc((100vw - var(--container)) / 2);
        padding-right: calc((100vw - var(--container)) / 2 - 60px);
    }
}

.about__left {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 40.45%;
    width: 100%;
    padding: 64px 0 25px;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        line-height: 26px;
        letter-spacing: -0.1px;
    }
}

.about__btn {
    width: 200px;
}

.about__right {
    width: calc(100% - 40.45% - 138px);

    img {
        width: 100%;
        height: max-content;
        object-fit: contain;
    }
}
