.catalog-item-wrap {
    width: 100%;
    height: calc((var(--container) / 3 - 16px) / 1.13);

    @include tablet {
        max-width: calc(50% - 12px);
        height: calc((100vw - 40px) / 2.87);
    }

    @include fullMobile {
        max-width: 100%;
        height: calc((100vw - 40px) / .91);
    }

    .catalog-item {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(16, 16, 17, 0.64) 0%, rgba(16, 16, 17, 0.00) 16.15%, rgba(16, 16, 17, 0.00) 58.33%, #101011 100%);
        }
    }

    .catalog-item__images {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(16, 16, 17, 0.64) 0%, rgba(16, 16, 17, 0.00) 16.15%, rgba(16, 16, 17, 0.00) 58.33%, #101011 100%);
    }

    .catalog-item__image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .catalog-item__stickers {
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 16px;

        .sticker {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background-color: rgba(#101011, .5);
            border-radius: 6px;
            cursor: pointer;

            &:hover, &:focus-visible {
                &>.sticker-help-text {
                    opacity: 1;
                }
            }
        }

        .sticker-help-text {
            position: absolute;
            bottom: -9px;
            left: 0;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 44px;
            padding: 0 12px;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: -0.1px;
            color: #fff;
            opacity: 0;
            border-radius: 6px;
            background: rgba(16, 16, 17, 0.50);
            box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);
            transform: translateY(100%);
            user-select: none;
            transition: opacity .3s ease-in-out;
        }

        .svg-ico {
            color: #fff;
        }
    }

    .catalog-item__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        height: max-content;
        padding: 0 24px 56px;
    }

    .catalog-item__price {
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.01em;
    }

    .catalog-item__quadrature {
        font-size: 16px;
        font-weight: 500;
    }

    .catalog-item__place {
        font-size: 16px;
    }

    .catalog-item__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    .catalog-item__nav {
        position: absolute;
        display: none;
    }
}
