.detail {
    padding: 50px 0 100px;
    background-color: #191919;

    .container {
        display: flex;
        gap: 27px;
    }
}

.detail__left {
    width: 48.94%;
}

.detail__back-link {
    display: block;
    margin-bottom: 56px;

    &:hover {
        .svg-ico {
            color: rgba(#fff, .5);
        }
    }

    .svg-ico {
        color: #fff;
        transition: color .3s ease-in-out;
    }
}

.detail__stickers {
    display: flex;
    gap: 24px;
    margin-bottom: 10px;

    .sticker {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .sticker__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 6px;
        background-color: rgba(#fff, .5);

        .svg-ico {
            color: #fff;
        }
    }

    .sticker__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.1px;
    }
}

.detail__place {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
    margin-bottom: 40px;
    font-family: var(--montserrat);
    font-size: 20px;
    line-height: 1;
    cursor: pointer;

    .place-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        color: #fff;
        background-color: rgba(#fff, .25);
        border-radius: 5px;
    }
}


.detail__place-inf {
    position: absolute;
    right: -20px;
    top: 0;
    width: 280px;
    padding: 23px 24px 40px;
    background-color: #fff;
    border-radius: 6px;
    transform: scale(0);

    &.show {
        transform: translate(100%, -50%);
    }

    .inf__title {
        margin-bottom: 16px;
        color: var(--bg-color);
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.01em;
    }

    .inf__address, .inf__height {
        margin-bottom: 24px;
        color: var(--bg-color);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: -0.1px;
    }

    .inf__height {
        margin-bottom: 0;
    }
}


.detail__price {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;

    .price-into-month {
        font-family: var(--montserrat);
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
    }

    .price-into-year {
        font-family: var(--montserrat);
        font-size: 20px;
        line-height: 1;
    }
}

.detail__quadrature {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;

    .quadrature__num {
        font-family: var(--montserrat);
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
    }

    .quadrature__floor {
        font-family: var(--montserrat);
        font-size: 20px;
        line-height: 1;
    }
}


.detail__description {
    margin-bottom: 30px;
    font-family: var(--montserrat);
    font-size: 16px;
    line-height: 1.13;
}

.detail__btn-wrapper {
    display: flex;
    gap: 24px;
}

.detail__btn {
    width: 199px;
}

.detail__download-pdf {
    width: 203px;
}

.detail__right {
    width: calc(100% - 48.94% - 27px);
}

.detail__slider {
    position: relative;
    display: flex;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(180deg, #101011 0%, rgba(16, 16, 17, 0.00) 20.31%, rgba(16, 16, 17, 0.00) 57.29%, #101011 100%);
    }

    .slider-item {

        &:not(:first-child) {
            display: none;
        }
    }
}

.detail__slider-navs {

}
