.main-catalog {
    padding: 44px 0 60px;
    background-color: #191919;
}

.main-catalog__tabs-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 44px;

    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        margin-bottom: 60px;
    }

    @include fullMobile {
        margin-bottom: 45px;
    }

    &.tabs-big {
        @include fullMobile {
            display: none;
        }
    }

    &.tabs-small {
        display: none;

        @include fullMobile {
            display: flex;
        }
    }
}

.main-catalog__tabs {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 24px;

    li {
        position: relative;
        width: max-content;
        color: rgba(#fff, .5);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        cursor: pointer;
        transition: color .3s ease-in-out;

        @include tablet {
            font-size: 15px;
        }

        &:hover, &:focus-visible {
            color: #fff;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: transparent;
            transition: background-color .3s ease-in-out;
        }

        &.active {
            color: #fff;

            &::after {
                background-color: #fff;
            }
        }
    }
}

.main-catalog__tabs-row {
    display: flex;
    gap: 16px;
    width: 100%;

    .tabs-radio {
        min-width: calc(50% - 8px);

        input {
            display: none;

            &:checked ~ .filters-radio__custom {
                color: var(--bg-color);
                background-color: #fff;

                &:hover, &:focus-visible {
                    color: #fff;
                    background-color: rgba(#fff, .5);
                }
            }
        }
    }

    .tabs-radio__custom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 46px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;

        &:hover, &:focus-visible {
            color: rgba(#fff, .5);
            border-color: rgba(#fff, .5);
        }
    }

    .select {
        width: 100%;
    }

    .tabs-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 46px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        border: 1px solid #fff;
        border-radius: 6px;
        transition: border-color .3s ease-in-out, color .3s ease-in-out;

        &:hover, &:focus-visible {
            color: rgba(#fff, .5);
            border-color: rgba(#fff, .5);
        }
    }
}

.main-catalog__wrap {
    margin-bottom: 32px;

    @include tablet {
        margin-bottom: 63px;
    }

    @include fullMobile {
        margin-bottom: 69px;
    }
}

.main-catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @include fullMobile {
        margin-bottom: 20px !important;
    }

    .catalog-item-wrap {
        max-width: calc(33.33% - 16px);
    }
}

.main-catalog__navs {
    display: none;

    @include fullMobile {
        display: flex;
    }
}

.main-catalog__link {
    width: 140px;
    margin: 0 auto;
}
