@font-face {
  font-family: "Akrobat";
  font-display: swap;
  src: url("../fonts/Akrobat-Black.woff") format("woff"), url("../fonts/Akrobat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Bold.woff") format("woff"), url("../fonts/IBMPlexMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Regular.woff") format("woff"), url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
}

body {
  font-family: 'IBMPlexMono', sans-serif;
  color: rgba(23, 38, 47, 0.8);
  background: #f6f9fc;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Akrobat', serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #17262F;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
}

a {
  color: #0090F0;
  font-weight: bold;
}

.container {
  position: relative;
  max-width: 1890.1px;
  width: 100%;
  margin: 0 auto;
}

.hover_link {
  position: relative;
}

.hover_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #0090F0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.pointer {
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 54px;
  padding: 0 26px;
  color: #fff;
  font-weight: bold;
  border-radius: 100px;
  border: 2px solid #0090F0;
  background-color: #0090F0;
  cursor: pointer;
  -webkit-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.btn:hover {
  background-color: #fff;
  color: #0090F0;
}

.circle {
  position: absolute;
  mix-blend-mode: normal;
  opacity: .6;
  border-radius: 50%;
}

.circle.blue_circle {
  width: 725.18px;
  height: 730.82px;
  border: 160px solid rgba(0, 144, 240, 0.2);
}

.circle.green_circle {
  top: -379.92px;
  right: -259.505px;
  width: 707.01px;
  height: 749.84px;
  border: 160px solid #AEFFC1;
}

.circle.violet_circle {
  bottom: -271.82px;
  left: -515.84px;
  width: 731.78px;
  height: 730.82px;
  border: 160px solid #AEB1FF;
}

.messenger {
  position: fixed;
  right: 10px;
  bottom: 40px;
  z-index: 3;
  width: 60px;
  height: 60px;
}

.no-scroll {
  overflow: hidden;
}

.arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #334C5C;
}

.arrow-link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 14px;
  margin-left: 5px;
  background: 50% no-repeat;
  background-image: url("../img/icons/big_arrow_right.svg");
  background-size: contain;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  -o-transition: transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.arrow-link:hover::after {
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.hamburger {
  position: relative;
  z-index: 2;
  width: 14px;
  height: 10px;
  border-bottom: 2px solid #37434B;
  border-top: 2px solid #37434B;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #37434B;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
  padding: 0 100px 0 218px;
  background-color: #fff;
}

#header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-link a {
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

#header .header-link:hover a::after {
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#header .contacts__phone {
  position: relative;
  display: block;
  margin-bottom: 2.5px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

#header .contacts__phone:hover::after {
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#header .contacts__address {
  font-size: 16px;
  line-height: 22px;
}

#header .btn-feedback {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 54px;
  padding: 0 26px;
  font-weight: bold;
  font-size: 16px;
  color: #0090F0;
  background-color: #fff;
}

#header .btn-feedback:hover {
  color: #fff;
  background-color: #0090F0;
}

#header .personal-account {
  height: 33px;
}

#header .personal-account .account__ico i {
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  background: left center no-repeat;
  background-image: url("../img/icons/profile.png");
}

#header .personal-account a {
  position: relative;
  display: block;
  font-size: 16px;
}

#header .personal-account a:hover::after {
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#header .hamburger_content,
#header .hamburger_wrapper {
  display: none;
}

.hero {
  position: relative;
  z-index: 1;
  padding: 20.2px 0;
  background-color: #eaedf0;
}

.hero .hero-courusel-wrapper {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}

.hero .courusel__arrow-container {
  position: absolute;
  right: 37px;
  bottom: 32px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .courusel__arrow-container .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #0090F0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.hero .courusel__arrow-container .slick-arrow:hover {
  background-color: #0090F0;
}

.hero .courusel__arrow-container .slick-arrow:hover svg path {
  stroke: white;
}

.hero .courusel__arrow-container .arrow-left {
  margin-right: 14px;
}

.hero .hero-courusel__item img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .hero-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 591px;
  margin-top: -5px;
  padding: 63px 41px 63px 71px;
  background-color: #fff;
}

.hero h1 {
  font-size: 83px;
  line-height: 100px;
  letter-spacing: -2px;
  color: #17262F;
}

.hero .hero-description {
  margin: 80px 0;
}

.hero .hero-description__item {
  height: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #334C5C;
  background: left center no-repeat;
}

.hero .hero-description__item.clock_item {
  margin-right: 40px;
  padding-left: 67px;
  background-image: url("../img/icons/clock.svg");
}

.hero .hero-description__item.percent_item {
  padding-left: 62px;
  background-image: url("../img/icons/percent.svg");
}

.hero .hero-content__btn {
  height: 54px;
  padding: 0 26px;
}

.what-is {
  position: relative;
  padding: 90px 0;
}

.what-is .blue_circle {
  bottom: -132px;
  left: -349.59px;
}

.what-is .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1373px;
}

.what-is .left_column {
  max-width: 606px;
}

.what-is .what-is__heading {
  margin-bottom: 47px;
}

.what-is .what-is__description {
  line-height: 30px;
}

.what-is .right_column {
  margin-top: 100px;
}

.what-is .right_column img {
  width: 720px;
  height: 480px;
}

.why-is {
  position: relative;
  z-index: 1;
  padding: 93px 0;
  background-color: #0090F0;
}

.why-is .container {
  max-width: 1459px;
}

.why-is .left_column img {
  width: 618px;
  height: 409px;
}

.why-is .right_column {
  max-width: 632px;
}

.why-is .why-is__heading {
  margin-bottom: 43px;
  color: #fff;
}

.why-is .why-is__description {
  line-height: 30px;
  color: #fff;
}

.good-job {
  position: relative;
  padding: 182px 0 84px;
  background-color: #fff;
}

.good-job .container {
  max-width: 1437px;
}

.good-job .good-job__heading {
  margin-bottom: 65px;
}

.good-job .good-job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 621px;
  border: .5px solid #D7E5F5;
}

.good-job .good-job__list .list__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  max-width: 33.33%;
  height: 195px;
  padding: 20px;
  border: .5px solid #D7E5F5;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.good-job .good-job__list .list__item:hover {
  background-color: #D7E5F5;
}

.good-job .good-job__list .list__item.active {
  background-color: #D7E5F5;
}

.good-job .good-job__list .list__item p {
  margin-top: 15px;
  font-size: 17px;
  line-height: 24px;
  color: #334C5C;
}

.good-job .good-job__list_description {
  width: 466px;
  height: 331px;
}

.good-job .list_description-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.good-job .list_description-item.active {
  opacity: 1;
}

.good-job .description_item__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 78px;
  padding: 10px 10px 10px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: none;
}

.good-job .description_item__text {
  padding: 10px 0;
  line-height: 30px;
}

.good-job .blue_circle {
  right: -271.59px;
  bottom: -391.41px;
  z-index: 1;
}

.good-job .violet_circle {
  display: none;
}

.good-job .mobile {
  display: none;
}

.rates-one {
  padding: 178px 0 88.5px;
}

.rates-many {
  position: relative;
  padding: 110px 0 114px;
}

.rates-many .violet_circle {
  bottom: -271.82px;
  left: -515.84px;
}

.rates-many .blue_circle {
  display: none;
}

.rates-many_many .container {
  border-bottom: 12px solid #c4c4c4;
}

.rates-many_many .ask-link {
  margin: 49px 0 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #334C5C;
}

.rates-common {
  background-color: #f6f9fc;
}

.rates-common .container {
  max-width: 1440px;
  z-index: 1;
}

.rates-common .rates-heading {
  margin-bottom: 60px;
}

.rates-common .rates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rates-common .rates-list .list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 380px;
  padding: 41px 27.5px 50px 37px;
  background-color: #fff;
  border: 1px solid #D7E5F5;
  border-right: .5px solid #D7E5F5;
  border-left: .5px solid #D7E5F5;
  overflow: hidden;
}

.rates-common .rates-list .list__item:first-child {
  border-left: 1px solid #D7E5F5;
}

.rates-common .rates-list .list__item:last-child {
  border-right: 1px solid #D7E5F5;
}

.rates-common .rates-list .list__item.list__item-1 .list__item-title::after {
  background-color: #43FBA1;
}

.rates-common .rates-list .list__item.list__item-2 .list__item-title::after {
  background-color: #B8AAFF;
}

.rates-common .rates-list .list__item.list__item-3 .list__item-title::after {
  background-color: #59B6FF;
}

.rates-common .rates-list .list__item.list__item-4 .list__item-title::after {
  background-color: #F7CF0C;
}

.rates-common .list__item-title {
  position: relative;
  z-index: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 54px;
  font-weight: bold;
  font-size: 33px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #17262F;
}

.rates-common .list__item-title::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 13px;
}

.rates-common .list__item-title_bg {
  position: absolute;
  bottom: 326px;
  left: -126px;
  display: block;
  max-width: 380px;
  width: 100%;
  font-weight: bold;
  font-size: 66px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #DBF1FE;
  text-transform: uppercase;
  opacity: 0.5;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.rates-common .list__item-title_bg::before {
  content: '';
  position: absolute;
  left: -44px;
  display: block;
  margin-top: 12px;
  width: 45px;
  height: 2px;
  background-color: #00F287;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rates-common .list__item-description {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
  color: #334C5C;
}

.rates-common .list__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.rates-common .list__item-price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #334C5C;
}

.rates-common .list__item-price {
  margin-bottom: 2px;
  font-size: 28px;
  line-height: 24px;
}

.rates-common .list__item-price_text {
  font-size: 16px;
  line-height: 24px;
}

.rates-common .list__item-btn {
  padding: 0 26px;
  height: 54px;
  font-weight: bold;
  font-size: 16px;
}

.contacts {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 58px 0;
}

.contacts #map {
  -ms-flex-preferred-size: 63.5%;
      flex-basis: 63.5%;
  width: 100%;
  height: 602px;
  border: 1px solid #D7E5F5;
}

.contacts #map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts .contacts-content {
  margin-top: 62px;
  margin-left: 20px;
}

.contacts .contacts-heading {
  margin-bottom: 45px;
}

.contacts .contacts-address {
  line-height: 30px;
}

.contacts .contacts-address a {
  display: block;
  margin-top: 1px;
  font-weight: normal;
}

.contacts .hover_link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 30px;
}

.contacts .hover_link:hover::after {
  width: 100%;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.contacts .contacts-tel {
  display: block;
  margin: 46px 0 5px;
}

.contacts .contacts-mail {
  font-weight: normal;
}

.contacts .contacts-btn {
  margin-top: 72px;
  font-size: 16px;
  font-weight: bold;
}

#footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 240px;
  padding-bottom: 50px;
  background-color: #fff;
}

#footer .container {
  position: static;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1440px;
}

#footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#footer .footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}

#footer .footer__cards .cards__item:not(:last-child) {
  margin-right: 10px;
}

#footer .footer__label--offert {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 28px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 13px;
}

#footer .footer__label--offert a {
  color: rgba(23, 38, 47, 0.5);
  text-decoration: underline;
  font-weight: normal;
}

.footer__label {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 19px;
  color: rgba(23, 38, 47, 0.5);
}

.footer__callback {
  margin: 0 auto 0 237px;
}

.footer__callback .footer__phone {
  color: rgba(23, 38, 47, 0.5);
  font-weight: normal;
}

.footer__callback .footer__email {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #0090F0;
}

.footer__instagram {
  height: 54px;
}

.footer__instagram a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(23, 38, 47, 0.5);
}

.footer__instagram a::before {
  content: '';
  display: block;
  width: 31px;
  height: 31px;
  margin-right: 12px;
  background: left center no-repeat;
  background-image: url("../img/icons/instagram.png");
}

.webp #header .personal-account .account__ico i {
  background-image: url(../img/icons/profile.webp);
}

.webp .footer__instagram a::before {
  background-image: url(../img/icons/instagram.webp);
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }

  #header {
    padding: 0 15px;
  }

  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero .hero-courusel-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }

  .hero .hero-courusel__item img {
    width: 100%;
  }

  .hero .hero-description__item {
    max-width: 375px;
  }

  .what-is {
    padding: 90px 0;
  }

  .what-is .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .what-is .left_column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: none;
    margin-top: 0;
  }

  .what-is .right_column {
    margin-top: 20px;
  }

  .what-is .right_column img {
    width: 100vw;
    margin-left: -15px;
  }

  .why-is {
    padding: 90px 0;
  }

  .why-is .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap column-reverse;
            flex-flow: wrap column-reverse;
  }

  .why-is .left_column {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 25px auto 0 0;
  }

  .why-is .right_column {
    max-width: none;
  }

  .good-job {
    padding: 90px 0;
  }

  .good-job .good-job__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }

  .good-job .good-job__list .list__item {
    height: auto;
    padding: 30px 20px;
  }

  .good-job .good-job__list_description {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .good-job .list_description-item {
    background-color: #f6f9fc;
  }

  .rates-common {
    padding: 90px 0 45px;
  }

  .rates-common .list__item-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .rates-common .list__item-btn {
    margin-top: auto;
  }

  .rates-common .violet_circle {
    bottom: -475.82px;
  }
}

@media screen and (max-width: 991.98px) {
  .btn {
    height: 43px;
    padding: 0 16px;
    font-size: 16px;
  }

  h2 {
    font-size: 37px;
    line-height: 48px;
  }

  .circle.blue_circle {
    width: 370px;
    height: 372.88px;
    border: 88.4211px solid rgba(0, 144, 240, 0.2);
  }

  .circle.green_circle {
    top: -200px;
    right: -200px;
    width: 399px;
    height: 400.73px;
    border: 88.421px solid #aeffc1;
  }

  .circle.violet_circle {
    width: 345px;
    height: 346.5px;
    border: 76.4543px solid #AEB1FF;
  }

  #header .header-link,
  #header .button-wrapper,
  #header .personal-account {
    display: none;
  }

  #header .hamburger_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #F0F2F5;
    border-radius: 50%;
  }

  #header .hamburger_content-wrapper {
    height: 100vh;
    overflow-y: scroll;
  }

  #header .hamburger_content {
    position: absolute;
    left: -15px;
    top: -16px;
    z-index: 5;
    display: block;
    width: 100vw;
    min-height: 100vh;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #fff;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  #header .hamburger_content.scale_open {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  #header .hamburger_content > * {
    padding: 0 15px;
  }

  #header .hamburger_content .button-wrapper {
    display: block;
    margin: 11px 0 113px;
  }

  #header .hamburger_content .personal-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 6px;
  }

  #header .hamburger_content .btn-feedback {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }

  #header .hamburger_content .footer__callback {
    margin: 0 0 29px 0;
  }

  #header .hamburger_content .footer__callback .footer__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }

  #header .hamburger_content .footer__callback .footer__email {
    margin-top: 10px;
  }

  #header .hamburger_content .footer__instagram {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 21px;
  }

  #header .hamburger_close {
    width: 40px;
    height: 40px;
    margin-top: 27px;
    border: 1px solid #F0F2F5;
    border-radius: 50%;
  }

  #header .mobile_menu {
    padding-top: 41px;
  }

  #header .mobile_menu-item {
    margin-bottom: 18px;
  }

  #header .mobile_menu-item a {
    color: #334C5C;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }

  .hero {
    padding: 0;
    background-color: #fff;
  }

  .hero .hero-courusel-wrapper {
    width: 100vw;
  }

  .hero h1 {
    font-size: 37px;
    line-height: 48px;
  }

  .hero .hero-description__item {
    font-size: 15px;
    line-height: 24px;
  }

  .what-is .blue_circle {
    bottom: auto;
    top: -58px;
    left: -157px;
  }

  .good-job .container {
    padding: 0;
    z-index: 1;
  }

  .good-job .mobile {
    display: block;
  }

  .good-job .desctop {
    display: none;
  }

  .good-job .good-job__heading {
    padding: 0 15px;
  }

  .good-job .accordion__item.open .acco-arrow .acco_arrow_blue {
    display: block;
  }

  .good-job .accordion__item.open .acco-arrow .acco_arrow_grey {
    display: none;
  }

  .good-job .accordion__item.open .accordion__heading {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 30px 67px rgba(0, 0, 0, 0.25);
            box-shadow: 0 30px 67px rgba(0, 0, 0, 0.25);
  }

  .good-job .accordion__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 15px;
    font-size: 15px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #D7E5F5;
  }

  .good-job .accordion__heading .svg-ico:not(.acco_arrow) {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 13px;
  }

  .good-job .accordion__heading .arrow-icon {
    margin-left: auto;
  }

  .good-job .accordion__heading .arrow-icon .acco_arrow_blue {
    display: none;
  }

  .good-job .accordion-submenu {
    display: none;
    padding: 32px 15px 16px;
    font-size: 1rem;
    line-height: 30px;
    background-color: #F6F9FC;
  }

  .good-job .violet_circle {
    display: block;
    left: -165px;
  }

  .good-job .blue_circle {
    display: none;
  }

  .rates-many .violet_circle {
    display: none;
  }

  .rates-many .blue_circle {
    display: block;
    top: -110px;
    right: -160px;
    z-index: 0;
  }

  .rates-common {
    padding: 60px 0 30px;
  }

  .rates-common .container {
    z-index: 1;
  }

  .rates-common .rates-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .rates-common .rates-list .list__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  #footer {
    height: 180px;
  }

  #footer .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #footer .footer__callback {
    margin: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .hero .hero-content {
    padding: 25px 0 28px;
  }

  .hero .hero-description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 28px 0 35px;
  }

  .hero .hero-description__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .hero .hero-description__item.clock_item {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .what-is {
    padding: 50px 0 35px;
  }

  .what-is .what-is__heading {
    margin-bottom: 19px;
  }

  .what-is .right_column img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .what-is .blue_circle {
    top: -110px;
  }

  .why-is {
    padding: 20px 0 39px;
  }

  .why-is .why-is__heading {
    margin-bottom: 25px;
  }

  .why-is .left_column {
    width: 100%;
  }

  .why-is .left_column img {
    width: 100%;
    height: auto;
  }

  .good-job {
    padding: 20px 0 0;
  }

  .good-job .good-job__heading {
    margin-bottom: 33px;
  }

  .good-job .violet_circle {
    bottom: -210px;
  }

  .rates-one {
    padding: 25px 0 30px;
  }

  .rates-one .rates-heading {
    margin-bottom: 24px;
  }

  .rates-many {
    padding: 30px 0 0;
  }

  .rates-many .rates-heading {
    margin-bottom: 39px;
  }

  .rates-many_many .container {
    border-bottom: none;
  }

  .rates-many_many .ask-link {
    display: none;
  }

  .rates-common .rates-list .list__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 30px 0 35px;
  }

  .contacts .contacts-content {
    margin: 0;
    padding: 0 15px;
  }

  .contacts .contacts-tel {
    margin-top: 26px;
  }

  .contacts .contacts-btn {
    margin-top: 7px;
  }

  .contacts #map {
    margin-top: 58px;
  }

  #footer {
    height: auto;
    padding: 10px 0 102px;
  }

  #footer .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #footer .footer__msg,
  #footer .footer__callback {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  #footer .footer__callback .footer_label {
    margin-bottom: 5px;
  }

  #footer .footer__callback .footer__phone {
    font-weight: bold;
    color: #334c5c;
  }

  #footer .footer__instagram {
    margin-top: 15px;
  }

  #footer .footer__cards {
    position: absolute;
    bottom: 10px;
    left: 15px;
  }

  #footer .footer__label--offert {
    bottom: 70px;
  }
}

@media screen and (max-width: 575.98px) {
  #header {
    height: 95px;
    padding: 0;
  }

  #header .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 95px;
    padding-top: 16px;
  }

  #header .hamburger_content {
    left: 0;
  }

  #header .logo .svg-ico {
    width: 90px;
    height: 40.4px;
  }

  #header .contacts {
    margin-top: -5px;
    padding: 0;
  }

  .hero .courusel__arrow-container {
    bottom: 6px;
    right: 17px;
  }

  .hero .courusel__arrow-container .slick-arrow {
    width: 40px;
    height: 40px;
  }

  .hero .courusel__arrow-container .slick-arrow svg {
    width: 13px;
    height: 12px;
  }

  .rates-common .rates-list .list__item {
    height: 264px;
    padding: 23px 16px 23px 27px;
  }

  .rates-common .list__item-title {
    margin-bottom: 21px;
  }

  .rates-common .list__item-title_bg {
    bottom: 274px;
  }

  #footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  #footer .footer__msg {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 374.98px) {
  #header .contacts__phone {
    font-size: 15px;
  }

  #header .contacts__address {
    font-size: 13px;
  }
}