<section class="benefits">
    <div class="container">
        <h2 class="benefits__title second-title">
            Наши достижения в цифрах
        </h2>

        <div class="benefits__list">

            <div class="list-item">
                <div class="list-item__left">
                    <h3 class="list-item__heading">
                        250
                    </h3>

                    <div class="list-item__description">
                        <p>
                            единиц оборудования<br/>
                            изготовлено<br/>
                            за 2023 год
                        </p>
                    </div>
                </div>

                <div class="list__item-right">
                    <img src="./img/benefits/quantity.svg" alt="Единиц оборудования">
                </div>
            </div>

            <div class="list-item">
                <div class="list-item__left">
                    <h3 class="list-item__heading">
                        200
                    </h3>

                    <div class="list-item__description">
                        <p>
                            признательных<br/>
                            заказчиков<br/>
                            по всему миру
                        </p>
                    </div>
                </div>

                <div class="list__item-right">
                    <img src="./img/benefits/world.svg" alt="Заказы">
                </div>
            </div>

            <div class="list-item">
                <div class="list-item__left">
                    <h3 class="list-item__heading">
                        40
                    </h3>

                    <div class="list-item__description">
                        <p>
                            компаний в числе<br/>
                            постоянных<br/>
                            клиентов
                        </p>
                    </div>
                </div>

                <div class="list__item-right">
                    <img src="./img/benefits/company.svg" alt="Клиенты">
                </div>
            </div>

        </div>
    </div>
</section>
