<section class="contacts">

  <div id="map" class="map-container"></div>

  <div class="container">

    <div class="contacts__inf-bar">
      <div class="inf-bar__header underline">
        <h2 class="inf-bar__title">
          КОНТАКТЫ
        </h2>
      </div>

      <div class="inf-bar__body underline">

        <div class="body-row">

          <div class="body-row__icon">
            @@include('../atoms/_svg_atom.html',
            {
            "width": "24",
            "height": "24",
            "class": "",
            "icon": "location",
            }
            )
          </div>

          <div class="body-row__text">

            <div class="body-row__label">
              Наш адрес:
            </div>

            <a href="https://yandex.ru/maps/-/CDuuiNYy" target="_blank" class="body-row__link">
              г. Красноярск, ЖК "Тихие Зори", ул. Лесников, д.27
            </a>

          </div>

        </div>

        <div class="body-row">

          <div class="body-row__icon">
            @@include('../atoms/_svg_atom.html',
            {
            "width": "24",
            "height": "24",
            "class": "",
            "icon": "message",
            }
            )
          </div>

          <div class="body-row__text">

            <div class="body-row__label">
              Наша почта:
            </div>

            <a href="mailto:americanowork@yandex.ru?subject=Привет! Я хочу сделать заказ."
               class="body-row__link">
              americanowork@yandex.ru
            </a>

          </div>

        </div>

      </div>

      <div class="inf-bar__footer">
        <div class="footer-call-wrap">

          <button class="btn footer-call__btn">
            ЗАБРОНИРОВАТЬ СТОЛ
          </button>

          <div class="footer-call__phone">

            <a href="tel:+7 (902) 976-69-69">
              +7 (902) 976-69-69
            </a>

            Звоните или оставляйте заявку

          </div>

        </div>

        <div class="footer-social">
          Мы в соц сетях:

          @@include('../molecules/_social_molecule.html')

        </div>
      </div>
    </div>

  </div>

</section>
