<div class="projects">
    <div class="container">
        <h2 class="projects__title second-title">
            Более 150 успешно выполненных проектов
        </h2>

        <div class="projects__description">
            <p>
                Ознакомьтесь с нашим портфолио и оцените результаты нашей работы:
            </p>
        </div>

        <div class="projects__slider-wrap">
            <div class="projects__slider">
                @@slides
            </div>

            <div class="slider-nav projects__slider-nav"></div>
        </div>
    </div>
</div>
