<section class="calculation">
    <div class="container">

        <h2 class="calculation__title">
            Сделаем расчет проекта на изготовление
            и поставку оборудования
        </h2>

        <div class="calculation__description">
            <p>
                Сформируем предварительный бюджет
            </p>
        </div>

        <button class="btn calculation__btn">
            Рассчитать стоимость
        </button>

        <div class="calculation__image"></div>
    </div>
</section>
