<section class="geography">
    <div class="container">
        <h2 class="geography__title second-title">
            География присутствия:<br>
            5 стран и 30 городов
        </h2>

        <ul class="geography__tabs">
            <li class="geography_tab active" data-tab="1">
                <span>Наше присутствие</span>
            </li>
            <li class="geography_tab" data-tab="2">
                <span>Поставки</span>
            </li>
        </ul>

        <div class="geography__tabs-content">

            <div class="geography__tab-content" data-tab="1">
                <img src="./img/map-1.png" alt="Карта">
            </div>

            <div class="geography__tab-content" data-tab="2">
                <img src="./img/map-2.png" alt="Карта">
            </div>

        </div>
    </div>
</section>
