<section class="we-are-help">
    <div class="container">
        <div class="we-are-help__left">
            <h3 class="we-are-help__title">
                Помогаем предприятиям стартовать, расти и обновляться
            </h3>

            <div class="we-are-help__description">
                <p>
                    Видим свою миссию в том, чтобы поставлять оборудование, способное обеспечить бесперебойную работу производств наших заказчиков.
                </p>
                <p>
                    Стремимся стать лучшими в своей сфере и предоставляем лучшие технологические решения, обеспечиваем разработку, подготовку и запуск производственных процессов и эффективное выполнение задач предприятия
                </p>
            </div>
        </div>
        <div class="we-are-help__right">
            <div class="we-are-help__director">
                <div class="director-photo">
                    <img src="./img/director.png" alt="Директор">
                </div>

                <div class="director-info">
                    <div class="director-name">
                        Головин Вадим Вячеславович
                    </div>

                    <div class="director-post">Директор</div>
                </div>
            </div>
        </div>
    </div>
</section>
