<div class="menu" id="catalog_anchor">
    <div class="container">
        <nav class="menu__nav">

            <ul class="nav-list">
                <li class="active">
                    <a href="#">
                        Холодные закуски
                    </a>
                </li>

                <li>
                    <a href="#">
                        Горячие закуски
                    </a>
                </li>

                <li>
                    <a href="#">
                        Мясные блюда
                    </a>
                </li>

                <li>
                    <a href="#">
                        Супы
                    </a>
                </li>

                <li>
                    <a href="#">
                        Рыбные блюда
                    </a>
                </li>

                <li>
                    <a href="#">
                        Гриль меню
                    </a>
                </li>

                <li>
                    <a href="#">
                        Фирменные блюда
                    </a>
                </li>

                <li>
                    <a href="#">
                        Напитки
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</div>
