.cargo-with-mileage {
    padding: 120px 0;
    background-color: #F3F5FB;;
}

.cargo-with-mileage__title {
    margin-bottom: 16px;
    font-family: var(--vtb-book);
    font-size: 36px;
    line-height: 45px;
}

.cargo-with-mileage__description {
    margin-bottom: 40px;
    font-family: var(--vtb-light);
    font-size: 24px;
    line-height: 38px;
}

.cargo-with-mileage__slider {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.cargo-with-mileage__slider-item {
    padding: 45px 80px;
}

.cargo-with-mileage__slider-item__content {
    display: flex;
}

.cargo-with-mileage__slider-item__left {
    position: relative;
    max-width: 524px;
    margin-right: 50px;
    padding-right: 50px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        height: calc(100% - 15px);
        margin: auto;
        background-color: #E6E6E6;
    }
}

.select-cargo-with-mileage {
    margin-bottom: 20px;
    max-height: 46px;
}

.cargo-with-mileage__slider-item__image {
    img {
        display: block;
        width: 100%;
        height: 249px;
        object-fit: cover;
    }
}

.cargo-with-mileage__slider-item__title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 48px;
    color: var(--main-color);
}

.cargo-with-mileage__slider-item__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-color);
}

.cargo-with-mileage__slider-item__btn {
    width: 250px;
    height: 46px;
}