.faq {
    padding: 120px 0;

    @media screen and (max-width: 1189.98px) {
        padding: 90px 0;
    }

    @media screen and (max-width: 991.98px) {
        padding: 60px 0;
    }

    @media screen and (max-width: 767.98px) {
        padding: 30px 0;
    }
}

.faq__title {
    margin-bottom: 36px;
    font-family: var(--vtb-book);
    font-size: 36px;
    line-height: 45px;

    @media screen and (max-width: 767.98px) {
        margin-bottom: 24px;
    }

    @media screen and (max-width: 575.98px) {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 36px;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion__item {
    padding: 0 32px;
    background-color: #F3F5FB;
    border-radius: 8px;

    @media screen and (max-width: 767.98px) {
        padding: 0 20px;
    }

    &.open {
        .accordion-submenu__link-icon {
            &::after {
                transform: rotate(45deg);
            }
        }

        .accordion-submenu {
            display: block;
        }
    }
}

.accordion-submenu__link {
    position: relative;
    padding: 28px 50px 28px 0;
    font-size: 24px;
    line-height: 40px;
    color: var(--main-color);
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 1189.98px) {
        font-size: 22px;
        line-height: 34px;
    }

    @media screen and (max-width: 767.98px) {
        padding: 15px 30px 15px 0;
        font-size: 18px;
        line-height: 24px;
    }
}

.accordion-submenu__link-icon {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-color: var(--main-color);
    border-radius: 50%;

    @media screen and (max-width: 767.98px) {
        width: 30px;
        height: 30px;
    }

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url("../img/icons/plus-ico.svg") center / 20px no-repeat;
        transition: transform .3s ease-in-out;

        @media screen and (max-width: 767.98px) {
            width: 15px;
            height: 15px;
            background-size: 15px;
        }
    }
}

.accordion-submenu {
    display: none;
    padding: 28px 0 44px;
    color: #7A7878;
    font-size: 16px;
    line-height: 26px;
    border-top: 1px solid #CFCFCF;

    @media screen and (max-width: 1189.98px) {
        font-size: 15px;
        line-height: 25px;
    }

    @media screen and (max-width: 767.98px) {
        padding: 20px 0;
        font-size: 12px;
        line-height: 18px;
    }
}