.hero {
    position: relative;

    .container {
        max-width: 1640px;
    }
}

.prev_nav_scroll {
    #header {
        position: fixed;
        top: 0;
        height: 63px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0,0,0,.06);
        opacity: 0;
        transform: scaleY(0);

        .logo {
            .svg-ico {
                color: var(--main-color);
            }
        }

        .nav-menu__list-item {
            a {
                color: var(--main-color);
            }
        }

        .header-phone {
            color: var(--main-color);
        }

        .hamburger {
            &.open {
                .hamburger-ico {
                    border-color: transparent;
                }
            }
        }

        .hamburger-ico {
            border-color: var(--main-color);

            &::after, &::before {
                background-color: var(--main-color);
            }
        }
    }    
}

.nav_scroll {
    #header {
        opacity: 1;
        transform: scaleY(1);
    }
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 92px;
    //padding: 30px 0;
    background-color: transparent;
    transform-origin: 100% 0;
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;

    @media screen and (max-width: 1189.98px) {
        height: auto;
        padding: 12px 0;
    }

    @media screen and (max-width: 991.98px) {
        height: 63px;
        padding: 0;
    }

    .container {
        justify-content: space-between;

        @media screen and (max-width: 1190.98px) {
        }
    }

    .logo {
        //margin-right: 69px;
        color: #fff;
        transition: color .3s ease-in-out;

        @media screen and (max-width: 1190.98px) {
            margin-right: 0;
        }
    }

    .nav-menu {
        //flex-grow: 1;

        @media screen and (max-width: 1190.98px) {
            flex-grow: unset;
        }

        @media screen and (max-width: 991.98px) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: max-content;
            padding: 17px 40px 50px;
            background-color: #fff;
            border-radius: 0 12px 12px 0;
            transform: scaleX(0);
            transform-origin: 0 100%;
            transition: .3s ease-in-out;

            &.show {
                transform: scaleX(1);

                @media screen and (max-width: 575.98px) {
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 575.98px) {
            width: 100vw;
            padding: 17px 15px 50px;
            border-radius: 0;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        .logo-mobile {
            display: none;

            @media screen and (max-width: 991.98px) {
                display: block;
                margin-bottom: 52px;
                color: var(--main-color);
            }
        }
    }

    .nav-menu__list {
        display: flex;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: 1190.98px) {
            gap: 18px;
        }

        @media screen and (max-width: 991.98px) {
            flex-direction: column;
            gap: 24px;
            height: 100%;
        }
    }

    .nav-menu__list-item {
        @media screen and (max-width: 991.98px) {
            width: 100%;

            &:first-child {
                order: 5;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 201px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid var(--main-color);
                    border-radius: 4px;
                }
            }

            //&:nth-child(2) {
            //    order: 5;
            //
            //    a {
            //        display: flex;
            //        justify-content: center;
            //        align-items: center;
            //        width: 201px;
            //        height: 40px;
            //        background-color: #fff;
            //        border: 1px solid var(--main-color);
            //        border-radius: 4px;
            //    }
            //}
        }

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #fff;
            font-size: 14px;
            line-height: 160%;
            transition: opacity .3s ease-in-out;

            @media screen and (max-width: 1190.98px) {
                font-size: 13px;
            }

            @media screen and (max-width: 991.98px) {
                align-items: flex-start;
                width: 100%;
                color: var(--main-color);
                font-size: 14px;
            }

            &:hover {
                opacity: .6;
            }
        }
    }

    .nav-menu__list-item_last {
        display: none;

        @media screen and (max-width: 991.98px) {
            display: block;
            margin-top: auto;
        }
    }

    .header-phone {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        transition: opacity .3s ease-in-out;

        @media screen and (max-width: 1189.98px) {
            flex-shrink: 0;
        }

        @media screen and (max-width: 991.98px) {
            display: none;
        }

        &:hover {
            opacity: .6;
        }
    }
}

.hamburger, .close {
    position: relative;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media screen and (max-width: 991.98px) {
        display: flex;
    }

    &.open {
        z-index: 2;

        .hamburger-ico, .close-ico {
            border-color: transparent;

            &::after, &::before {
                background-color: var(--main-color);
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .hamburger-ico {
            &::after, &::before {
                background-color: #fff;

                @media screen and (max-width: 991.98px) {
                    background-color: var(--main-color);
                }
            }
        }
    }
}

.hamburger-ico, .close-ico {
    position: relative;
    width: 20px;
    height: 14px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    transition: all .3s ease;
    cursor: pointer;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        transition: all .3s ease;
    }
}
