.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: rgba(0,0,0,.6);
    cursor: pointer;
}

#modal_feedback_error, #modal_feedback_success {
    .modal__body {
        max-width: 320px;

        @media screen and(max-width: 350.98px) {
            max-width: 290px;
        }
    }
}

#modal_feedback_form {
    .feedback__form {
        flex-direction: column;
        gap: 24px;
        width: 300px;

        @media screen and(max-width: 350.98px) {
            width: 260px;
        }
    }

    .inputWrap {
        width: 100%;
    }

    .feedback__submit {
        width: 100%;
        margin-top: 20px;
    }
}

.modal__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 50px;
    width: max-content;
    height: max-content;
    background-color: #fff;
    border-radius: 4px;
    cursor: default;

    @media screen and(max-width: 575.98px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 15px);
        padding: 40px 0;
    }
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    @media screen and(max-width: 350.98px) {
        top: 10px;
        right: 10px;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: var(--main-color);
        width: 100%;
        height: 2px;
        margin-top: -1px;
        transition: all .3s ease;
    }

    &::before {
        transform: rotate(-45deg);
    }

    &::after {
        transform: rotate(45deg);
    }
}

.modal__header {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    @media screen and(max-width: 350.98px) {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 24px;
    }
}

.modal__body {
    line-height: 22px;
    text-align: center;

    @media screen and(max-width: 575.98px) {
        font-size: 14px;
        line-height: 18px;
    }
}