@font-face { 
	font-family: "Varela"
		src: url('../fonts/VarelaRound.eot') /* IE9 Compat Modes */
		src: url('../fonts/VarelaRound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		src: url('../fonts/VarelaRound.otf') format("opentype"), /* Open Type Font */
		src: url('../fonts/VarelaRound.ttf')  format('truetype'), /* Safari, Android, iOS */
		src: url('../fonts/VarelaRound.svg') format('svg'), /* Legacy iOS */
		src: url('../fonts/VarelaRound.woff2') format('woff2'), /* Super Modern Browsers */
		src: url('../fonts/VarelaRound.woff') format('woff') /* Pretty Modern Browsers */
	}

@font-face {
	font-family: "Lato"
		src: url('../fonts/Lato-Regular.eot') /* IE9 Compat Modes */
		src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		src: url('../fonts/Lato-Regular.otf') format("opentype"), /* Open Type Font */
		src: url('../fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		src: url('../fonts/Lato-Regular.svg') format('svg'), /* Legacy iOS */
		src: url('../fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		src: url('../fonts/Lato-Regular.woff') format('woff') /* Pretty Modern Browsers */
		font-weight: normal
		font-style: normal
}

@font-face {
	font-family: "Lato"
		src: url('../fonts/Lato-Lite.eot') /* IE9 Compat Modes */
		src: url('../fonts/Lato-Lite.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		src: url('../fonts/Lato-Lite.otf') format("opentype"), /* Open Type Font */
		src: url('../fonts/Lato-Lite.ttf')  format('truetype'), /* Safari, Android, iOS */
		src: url('../fonts/Lato-Lite.svg') format('svg'), /* Legacy iOS */
		src: url('../fonts/Lato-Lite.woff2') format('woff2'), /* Super Modern Browsers */
		src: url('../fonts/Lato-Lite.woff') format('woff') /* Pretty Modern Browsers */
		font-weight: 300
		font-style: normal
}

@font-face {
	font-family: "Lato"
		src: url('../fonts/Lato-Bold.eot') /* IE9 Compat Modes */
		src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		src: url('../fonts/Lato-Bold.otf') format("opentype"), /* Open Type Font */
		src: url('../fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		src: url('../fonts/Lato-Bold.svg') format('svg'), /* Legacy iOS */
		src: url('../fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		src: url('../fonts/Lato-Bold.woff') format('woff') /* Pretty Modern Browsers */
		font-weight: bold
		font-style: normal
}