@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("./fonts/#{$file_name}.woff") format("woff"), url("./fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './fonts/fonts';

:root {
  --font-euclid: 'EuclidCircularB', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
  display: block;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

a {
  color: inherit;
}

a, a:hover, a:active, a:focus, button, input, button:hover, button:active, button:focus, input:focus, input:active {
  text-decoration: none;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type='submit'] {
  cursor: pointer;
}

.swiper-pagination {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100px !important;
  display: flex;
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  gap: 20px;

  @media screen and (max-width: 1381.98px) {
    bottom: 87px !important;
    padding-left: 43px;
  }

  @media screen and (max-width: 991.98px) {
    bottom: 39px !important;
    padding-left: 15px;
  }

  @media screen and (max-width: 767.98px) {
    right: 0;
    left: 0;
    justify-content: center;
    padding-left: 0;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: transparent !important;
  border: 1px solid #FFFFFF;
  border-radius: 50%;

  &:hover {
    background-color: #fff !important;
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}