:root {
  --hover-color: #B2A194;
  --active-color: #A2624A;
  --main-color: #373a3c;
  --sell-red: #FF4600;
  --light-grey: #F6F6F6;
  --grey: #DFDFDF;
  --dark-grey: #A1A1A1;
  --main-font: "MIR";
  --container: 1125px;
}
@media screen and (max-width: 575.98px) {
  :root {
    --container: 100%;
  }
}

html {
  font-size: 16px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--active-color);
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background-color: var(--grey);
}

body {
  font-family: var(--main-font), sans-serif;
  color: var(--main-color);
  overflow-x: hidden;
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar {
  width: auto;
}
body::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}

main {
  position: relative;
  background-color: #f9f9f9;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a, a:hover, a:active, a:focus, button, input, button:hover, button:active, button:focus, input:focus, input:active {
  text-decoration: none;
  outline: none;
}

a {
  color: #292f32;
  transition: color 0.3s ease-in-out;
}
a:hover, a:focus-visible {
  color: #A7CA6B;
  text-decoration: underline;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=submit] {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 575.98px) {
  .container {
    padding: 0 15px;
  }
}

.pointer {
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.no-scroll {
  overflow-y: hidden;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.modal .modal__content {
  display: none;
  opacity: 0;
  cursor: default;
  transition: opacity 0.3s ease-in-out;
}
.modal.open {
  display: block;
}
.modal.open .modal__content {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 575.98px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media screen and (max-width: 575.98px) {
  .mobile {
    display: block;
  }
}

@font-face {
  font-family: "MIR";
  font-display: swap;
  src: url("./fonts/MIR-Regular.woff") format("woff"), url("./fonts/MIR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.header .logo {
  display: block;
  margin-right: 15px;
}
.header .logo img {
  display: block;
  width: 155px;
}
@media screen and (max-width: 575.98px) {
  .header .logo img {
    width: 118px;
  }
}
.header .top-content {
  padding: 5px 0;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.header .top-content .nav {
  flex-grow: 1;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .header .top-content .hamburger, .header .top-content .small-basket {
    display: none;
  }
}
.header .top-content .small-basket {
  display: none;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 575.98px) {
  .header .top-content .small-basket {
    display: flex;
  }
}
.header .top-content .small-basket .basket-ico {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: transparent url("../img/icon/basket.svg") center/contain no-repeat;
  border: 0;
  flex-shrink: 0;
}
.header .top-content .small-basket span {
  display: contents;
  font-size: 25px;
}
.header .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 7px;
}
.header .hamburger.open .hamburger__ico, .header .hamburger.open_location .hamburger__ico {
  border-color: transparent;
}
.header .hamburger.open .hamburger__ico::after, .header .hamburger.open_location .hamburger__ico::after {
  transform: rotate(-45deg);
}
.header .hamburger.open .hamburger__ico::before, .header .hamburger.open_location .hamburger__ico::before {
  transform: rotate(45deg);
}
.header .hamburger.open .hamburger__content {
  transform: translateY(100%) scaleX(1);
}
.header .hamburger__ico {
  position: relative;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #454c53;
  border-top: 3px solid #454c53;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .hamburger__ico::before, .header .hamburger__ico::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #454c53;
  width: 100%;
  height: 3px;
  margin-top: -1px;
  transition: all 0.3s ease;
}
.header .hamburger__content {
  position: absolute;
  left: 0;
  bottom: -55px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 107px);
  background-color: #f9f9f9;
  transform: translateY(100%) scaleX(0);
  transform-origin: 100% 0;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
}
.header .hamburger__content .information {
  padding: 5px 15px 0;
  font-size: 16px;
  line-height: 3;
}
.header .hamburger__content .location {
  display: flex;
  align-items: center;
  gap: 7px;
}
.header .hamburger__content .location__header {
  display: block;
  width: 100%;
}
.header .hamburger__content .ico-location {
  color: #63a578;
}
.header .hamburger__content .timetable, .header .hamburger__content .address, .header .hamburger__content .phone {
  padding-left: 23px;
}
.header .hamburger__content .phone {
  background: transparent url("../img/icon/phone.svg") left center/contain no-repeat;
}
.header .hamburger__content .personal-account__auth {
  display: flex;
  padding: 5px 15px 10px;
  line-height: 3;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .hamburger__content .personal-account__auth .ico-user {
  width: 16px;
  height: 16px;
  color: #63a578;
  border: 0;
}
.header .hamburger__content .personal-account__auth .svg-ico {
  width: 16px;
  height: 16px;
}
.header .hamburger__content .nav-list {
  line-height: 3;
}
.header .hamburger__content .nav-list .list__item a {
  display: block;
  width: 100%;
  padding: 5px 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .location__header {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 575.98px) {
  .header .location__header {
    display: none;
  }
}
.header .location__header:hover {
  text-decoration: none;
}
.header .location__header:hover span {
  color: #A7CA6B;
}
.header .location__header .ico-location {
  color: #f9717a;
}
.header .location__header span {
  color: #292f32;
  border-bottom: 1px dashed #93989a;
  cursor: pointer;
}
.header .list-what-interests {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
@media screen and (max-width: 575.98px) {
  .header .list-what-interests {
    display: none;
  }
}
.header .information-wrap {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  width: 100%;
  margin-right: 13px;
  text-align: right;
}
@media screen and (max-width: 575.98px) {
  .header .information-wrap {
    display: none;
  }
}
.header .information-wrap > * {
  line-height: 24px;
}
.header .information-wrap .information-phone:hover {
  color: inherit;
  text-decoration: none;
}
.header .personal-account__auth {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media screen and (max-width: 575.98px) {
  .header .personal-account__auth {
    display: none;
  }
}
.header .personal-account__auth .ico-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #b2bbbd;
  border: solid 1px #b2bbbd;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header .personal-account__auth .svg-ico {
  width: 12px;
  color: inherit;
}
.header .personal-account__auth:hover .ico-user {
  color: #A7CA6B;
  border-color: #A7CA6B;
}
@media screen and (max-width: 575.98px) {
  .header .bottom-content {
    padding-top: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .header .bottom-content .nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.header .bottom-content .nav-list__slide {
  display: none;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  color: #ababab;
  cursor: pointer;
}
@media screen and (max-width: 575.98px) {
  .header .bottom-content .nav-list__slide {
    display: flex;
  }
}
.header .bottom-content .nav-list {
  display: flex;
}
@media screen and (max-width: 575.98px) {
  .header .bottom-content .nav-list {
    width: calc(100vw - 70px);
    gap: 10px;
    overflow-x: scroll;
  }
}
.header .bottom-content .nav-list .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .bottom-content .nav-list .list__item a {
  padding: 3px 6px;
}
@media screen and (max-width: 575.98px) {
  .header .bottom-content .nav-list .list__item a {
    width: max-content;
    padding: 10px 15px;
    line-height: 1;
    background-color: #fff;
  }
}
.header .small-basket {
  padding: 9px 0;
}
@media screen and (max-width: 575.98px) {
  .header .small-basket {
    display: none;
  }
}
.header .small-basket .basket-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 1px #b2bbbd;
  border-radius: 50%;
  color: #b2bbbd;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header .small-basket .basket-ico:hover {
  color: #A7CA6B;
  border-color: #A7CA6B;
}
.header .small-basket .basket-ico .svg-ico {
  width: 20px;
  color: inherit;
}

@media screen and (max-width: 575.98px) {
  .location__content {
    position: absolute;
    top: 120px;
    height: calc(100vh - 107px);
    display: block;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 0.3s ease-in-out;
  }
  .location__content.open {
    transform: scaleX(1);
  }
}
@media screen and (max-width: 575.98px) {
  .location__content .modal-header {
    display: none;
  }
}

.location__content-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 900px;
  max-height: 856px;
  padding: 50px 30px 15px;
  color: #fff;
  box-shadow: 1px 13px 13px rgba(69, 76, 83, 0.6);
  background-color: #454c53;
  overflow-y: scroll;
  scrollbar-width: none;
}
.location__content-wrap::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 575.98px) {
  .location__content-wrap {
    display: block !important;
    background-color: #fff;
    opacity: 1 !important;
  }
}
.location__content-wrap a {
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}
.location__content-wrap a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.location__content-wrap .location__content-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 29px;
  font-weight: 500;
}
@media screen and (max-width: 575.98px) {
  .location__content-wrap .location__content-title {
    display: none;
  }
}
.location__content-wrap .location__content-close {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media screen and (max-width: 575.98px) {
  .location__content-wrap .location__content-close {
    display: none;
  }
}
.location__content-wrap .location__content-close:hover {
  color: #000;
  background-color: #fff;
}
.location__content-wrap .location__content-list {
  max-height: 753px;
  column-count: 4;
}
@media screen and (max-width: 575.98px) {
  .location__content-wrap .location__content-list {
    display: flex;
    flex-direction: column;
    column-count: 1;
  }
}
.location__content-wrap .location__content-list__wrap {
  margin-bottom: 25px;
  break-inside: avoid-column;
}
.location__content-wrap .location__content-list__letter {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 27px;
  color: #95c83e;
  text-transform: uppercase;
}
.location__content-wrap .location__content-list__city a {
  display: block;
  font-size: 16px;
  line-height: 27px;
}
@media screen and (max-width: 575.98px) {
  .location__content-wrap .location__content-list__city a {
    color: #000;
  }
}
.location__content-wrap .modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #95c83e;
}
.location__content-wrap .location__content-switch-sites {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sale-list {
  padding-bottom: 71px;
}
@media screen and (max-width: 575.98px) {
  .sale-list {
    padding-top: 10px;
  }
}
.sale-list .sale-list__heading {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sale-list__heading {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
  }
}
.sale-list .sales-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 57px;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list {
    gap: 15px;
    margin-bottom: 11px;
  }
}
.sale-list .sales-list__item {
  max-width: 534px;
  padding: 16px 14px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item {
    padding: 10px 10px 12px;
  }
}
.sale-list .sales-list__item-image {
  margin-bottom: 10px;
  border-radius: 15px;
}
.sale-list .sales-list__item-image img {
  max-width: 100%;
}
.sale-list .sales-list__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-title {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 16px;
  }
}
.sale-list .sales-list__item-description {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-description {
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 13px;
  }
}
.sale-list .sales-list__item-bonus {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 17px;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-bonus {
    margin-bottom: 11px;
  }
}
.sale-list .sales-list__item-bonus_sticker {
  padding: 13px 21px 9px 73px;
  background: #FDDA64 url("../img/icon/present.svg") center left 16px/auto no-repeat;
  border-radius: 15px;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-bonus_sticker {
    padding: 11px 5px 11px 45px;
    font-size: 9px;
    line-height: 11px;
    background-size: 23.54px 27px;
  }
}
.sale-list .sales-list__item-bonus_timer {
  flex-shrink: 0;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-bonus_timer {
    font-size: 8px;
    line-height: 9px;
  }
}
.sale-list .timer {
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
}
@media screen and (max-width: 575.98px) {
  .sale-list .timer {
    font-size: 16px;
    line-height: 19px;
  }
}
.sale-list .sales-list__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sale-list .sales-list__item-bottom .buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 16px 63px 15px;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  background-color: #4A4F54;
  border: 1px solid #4A4F54;
  border-radius: 15px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-bottom .buy-btn {
    padding: 11px 38px 11.65px;
    font-size: 14px;
    line-height: 16px;
  }
}
.sale-list .sales-list__item-bottom .buy-btn:hover {
  color: #4A4F54;
  text-decoration: none;
  background-color: transparent;
}
.sale-list .sales-list__item-bottom .weight {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-list__item-bottom .weight {
    font-size: 14px;
    line-height: 16px;
  }
}
.sale-list .sales-description {
  max-width: 845px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #4A4F54;
}
@media screen and (max-width: 575.98px) {
  .sale-list .sales-description {
    max-width: 100%;
    font-size: 10px;
    line-height: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
