.search {
    height: calc(100vh - 577px);
    padding: 60px 0;

    @media screen and (max-width: 767.98px) {
        height: auto;
        padding: 30px 0;
    }
}

.wrapper {
    max-width: 1381px;
    margin: 0 auto;

    @media screen and (max-width: 1381.98px) {
        max-width: 944px;
    }

    @media screen and (max-width: 991.98px) {
        max-width: 740px;
    }

    @media screen and (max-width: 767.98px) {
        max-width: 100%;
        padding: 0 15px;
    }
}

.title {
    max-width: 825px;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #121212;

    @media screen and (max-width: 767.98px) {
        font-size: 36px;
        line-height: 46px;
    }
}